<section class="content-header">
</section>

<section class="content">
    <section class="invoice">

        <form [formGroup]="orderForm" novalidate>
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p class="lead">Seus Dados:</p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <mt-input-container label="Nome" errorMessage="Campo obrigatório e com 5 caracteres!">
                        <input type="text" class="form-control" formControlName="name" autocomplete="off" placeholder="Nome">
                    </mt-input-container>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="E-mail" errorMessage="E-mail inválido!">
                        <input type="text" class="form-control" formControlName="email" autocomplete="off" placeholder="E-mail">
                    </mt-input-container>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="Confirmação de e-mail">
                        <input type="text" class="form-control" formControlName="emailConfirmation" autocomplete="off" placeholder="Confirmação de e-mail">
                    </mt-input-container>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p class="lead">Endereço de Entrega:</p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <mt-input-container label="Endereço" errorMessage="Campo obrigatório e com 5 caracteres!">
                        <input type="text" class="form-control" formControlName="address" autocomplete="off" placeholder="Endereço">
                    </mt-input-container>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="Número" errorMessage="Obrigatório e somente números!">
                        <input type="text" class="form-control" formControlName="number" autocomplete="off" placeholder="Número">
                    </mt-input-container>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="Complemento">
                        <input type="text" class="form-control" formControlName="optionalAddress" autocomplete="off" placeholder="Complemento">
                    </mt-input-container>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p class="lead">Itens do Pedido:</p>
                </div>

                <mt-order-itens [itemsCart]="itemsCart()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)"
                    (remove)="remove($event)"></mt-order-itens>
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p class="lead">Formas de Pagamento:</p>
                    <div class="form-group">
                        <mt-radio [options]="getRadioOption()" formControlName="paymentOption"></mt-radio>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <p class="lead">Frete e Total:</p>
                    <mt-delivery-costs [itemsValue]="itemsValue()" [delivery]="delivery"></mt-delivery-costs>                    
                </div>
            </div>

        </form>

        <div class="row">
            <div class="col-xs-12">
                <button (click)="checkOrder(orderForm.value)" [disabled]="!orderForm.valid || itemsCart().length === 0" class="btn btn-success pull-right">
                    <i class="fa fa-credit-card"></i> Concluir Pedido
                </button>
            </div>
        </div>

    </section>
</section>